@font-face {
  font-family: 'yekan';
  src: url(./assets/font/Yekan.ttf);

}
@font-face {
  font-family: 'lalezar';
  src: url(./assets/font/Lalezar-Regular.ttf);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'yekan' , sans-serif;
}
